[Unit]
Description=Play pacman tune
# for playing alert tunes via the built-in PC speaker (KDMKTONE, KIOCSOUND)
Wants=modprobe@pcspkr.service
After=modprobe@pcspkr.service

[Service]
User=beep
Type=oneshot
ExecStart=/usr/local/bin/pacman-beep.sh

[Install]
WantedBy=sound.target
